.rgba-bg {
  background-color: black;
  color: white;
}
.product-page {
  padding: 2%;
}
.product-page img {
  width: 30vw;
}

@media (max-width: 400px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-page img {
    width: 60vw;
  }
  ul {
    font-size: 95%;
    text-align: justify;
    padding: 0;
  }
  .col-6 {
    width: 95%;
  }
}
