* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.container-fluid {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  padding: 0;
}
header p {
  text-align: justify;
  font-size: 1.5rem;
}
section {
  margin: 3% 0 5% 0;
}
section .card {
  border: 3px solid red;
  width: 23vw;
  overflow: hidden;
  transition: 2s;
}
.card-img-top {
  height: 45vh;
}

section .card:hover {
  border: 3px solid green;
  scale: 1.1;
  transition: 2s;
  cursor: pointer;
}
#banner {
  width: 70vw;
}
@media (max-width: 400px) {
  #Product,
  #Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Product .card {
    margin-top: 10%;
    width: 90vw;
    margin: 5% 0 0 0;
  }
  .card h5 {
    text-align: justify;
  }
  .card-img-top {
    width: 22.1rem;
    height: 50vh;
  }
}
